@page "/singlestudent"
@page "/singlestudent/{id:int}"
@inject IStudentService StudentService

@if (Id == null)
{
    <PageTitle>Create Student</PageTitle>
    <h3>Create Student</h3>
}
else
{
    <PageTitle>Edit @student.FirstName</PageTitle>
    <h3>Edit @student.FirstName</h3>
}


@code {
    [Parameter]
    public int? Id { get; set; }

    Student student = new Student { StudentGroup = new StudentGroup() };

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {

        }
        else
        {
            student = await StudentService.GetSingleStudet((int)Id);
        }
    }
}
